body{
	height: 100%;
	background-color: rgb(255, 50, 50);
	background-size: cover;
	background-image: url(https://lp-cms-production.imgix.net/2019-06/GettyImages-142116239_medium.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4);
}

h1{
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: white;
	text-shadow: 3px 2px 2px black;
	margin-bottom: 3px;
}
h3{
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	color: black;
	text-shadow: 3px 2px 2px white;
	margin-bottom: 3px;
	text-decoration: line-under;
}
p{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
form{
	font-size: 30px;
	margin: 30px auto;
	text-align: center;
}

ul{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 0;
	padding-left: 0;
}

li{
	display: block;
	font-size: 30px;
	font-weight: 700;
	color: white;
	text-shadow: 3px 2px 2px black;
}
 #questionCount{
 	text-align: center;
 }
 #scoreCount{
 	text-align: center;
 }

 main{
 	box-sizing: border-box;
 	width: 70%;
 	height: 400px;
 	background-color: rgba(200, 200, 200, 0.9);
 	margin-right: 13%;
 	margin-left: 13%;
 	margin-top: 50px;
 	border: 2px solid black;
 }
 button{
 		position: static;
 		height: 30px;
 		width: 70%;
	 	font-size: 20px;
	 	font-weight: 600;
	 	margin-right: 13%;
	 	margin-left: 13%;
	 	border: 2px solid black;
 }
.submit{
	margin-top: 40px;
 }
.next{
	margin-top: 40px;
	height: 60px;
 }
.correct{
	position: absolute;
	left: 14%;
	bottom: 13%;
	background-color: rgba(50, 255, 50, 0.9);
	border: 5px solid green;
	height: 50%;
	width: 66%;
	margin: 80px auto 0 auto;
}
.incorrect{
	position: fixed;
	left: 14%;
	bottom: 13%;
	background-color: rgba(255, 50, 50, 0.9);
	border: 5px solid red;
	height: 50%;
	width: 66%;
	margin: 80px auto 0 auto;
}

 @media screen and (min-width: 700px){
 	h1{
	font-size: 50px;
	text-align: center;
	font-weight: 700;
	color: white;
	text-shadow: 3px 2px 2px black;
	margin-bottom: 3px;
	}
 	li{
 		display: inline;
 		margin-bottom: 20px;
 	}
 	#questionCount{
 		position: relative;
 		right: 20%;
 	}
 	#scoreCount{
 		position: relative;
 		left: 15%;
 	}
 	main{
 		height: 400px;
 	}
 	.next{
	margin-top: 40px;
	height: 30px;
 }
 .correct{
	position: absolute;
	left: 33%;
	bottom: 40%;
	background-color: rgba(50, 255, 50, 0.9);
	border: 5px solid green;
	height: 30%;
	width: 30%;
	margin: 80px auto 0 auto;
}
.incorrect{
	position: fixed;
	left: 33%;
	bottom: 40%;
	background-color: rgba(255, 50, 50, 0.9);
	border: 5px solid red;
	height: 30%;
	width: 30%;
	margin: 80px auto 0 auto;
}
 }